
apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    orgId: 1
    url: http://prometheus:9090
    basicAuth: true
    user: prometheus
    password: {{ prometheus.password }}
    isDefault: true
    editable: true
  - name: MySQL
    type: mysql
    url: db:3306
    database: ssrtraining
    user: root
    password: {{ mysql.root_password }}
    orgId: 1
  - name: MySQL
    type: mysql
    url: db:3306
    database: ssrtraining
    user: ssrtraining
    password: {{ mysql.ssrtraining_password }}
    orgId: 3